
      <div class="col-md-3">    
   
                <div class="row">

                    <h1>Services</h1>
                   <p>
                       We deliver books all over Pakistan with no delivery charges!
                   </p>

                    <p>
                       Cash On Delivery
                        </p>
                    <p>
                        Minimum amount should be Rs 500 or greater in order to use this payment method.

                    </p>

                    <p>
                        Email: ebooks@gmail.com
                    </p>
                    <p>
                        Landline: 042-111-11-READ (7323)
                    </p>
                </div>

            </div>

     

